#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.
#
# This version is for a multibinary package. It also allows you to build any
# of the binary packages independantly, via binary-<package> targets.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#Define version packaging
VERSION=$(shell git tag -l --points-at HEAD)
ifeq ($(strip $(VERSION)),)
	VERSION=$(shell git describe --tags --abbrev=0)
	ifeq ($(strip $(VERSION)),)
		export VERSION="0.0.0"
	endif
	VERSION:=$(VERSION)-$(shell date +'%y%m%d%H%M%S')
endif

clean:
	dh clean
	rm -f debian/files
	(git rev-parse --git-dir > /dev/null 2>&1 && git checkout debian/changelog) || true
	(git rev-parse --git-dir > /dev/null 2>&1 && dch -m -b -v $(VERSION) autobuild) || true

override_dh_install:
	#dh install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/alternc-certificate-provider-letsencrypt

%:
	dh $@

